@model IEnumerable<Pet> 

<h4>List of All Pets With Their Voucher Request</h4>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>
                Pet Name
            </th>
            <th>
                Pet Type
            </th>
            <th>
                Pet Gender
            </th>
            <th>
                Pet DOB
            </th>
            <th>
                Request Date/Status
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Pet eachPet in Model)
        {
            <tr>
                @if (eachPet.PetName != null)
                {
                <td>@eachPet.PetName</td>
                }
                else
                {
                    <td></td>
                }

                <td>@eachPet.PetType</td>
                <td>@eachPet.PetGender</td>

                @if (eachPet.PetDOB.HasValue)
                {
                    <td>@eachPet.PetDOB</td>
                }
                else
                {
                    <td>Date of Birth Unknown</td>
                }
                <td>
                    @foreach (VoucherRequest eachRequest in eachPet.VoucherRequestForPet)
                    {
                        @(eachRequest.RequestDate.ToShortDateString()  +"" + eachRequest.RequestStatus)<br />

                        }   
                </td>
                <td>
                    <a class="btn-primary" asp-controller="Pet" asp-action="EditPet" asp-route-petID="@eachPet.PetID">Edit</a> 
                    <a class="btn-primary" asp-controller="Pet" asp-action="DeletePet" asp-route-petID="@eachPet.PetID">Delete</a>
                </td>
            </tr>
        }


    </tbody>

</table>