@model IEnumerable<Pet>

<h4>Search Result</h4>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>
                Pet Name
            </th>
            <th>
                Pet Type
            </th>
            <th>
                Pet Gender
            </th>
            <th>
                Pet DOB
            </th>
            <th>
                Client Name
            </th>
            <th>
                Request Status and Decision Date
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (Pet eachPet in Model)
        {
        <tr>
            @if (eachPet.PetName != null)
            {
                <td>@eachPet.PetName</td>
            }

            <td>@eachPet.PetType</td>
            <td>@eachPet.PetGender</td>
            <td>
                @if (eachPet.PetDOB.HasValue)
                {
                    @eachPet.PetDOB.Value.ToShortDateString();
                }
                else
                {
                @Html.DisplayText("Date of Birth Unknown")
                }
            </td>

            <td>@eachPet.Client.Fullname</td>

                <td>
                    @foreach (VoucherRequest eachRequest in eachPet.VoucherRequestForPet)
                    {
                        @(eachRequest.RequestStatus)<br />
                        if (eachRequest.DecisionDate.HasValue)
                        {@(" " + eachRequest.DecisionDate.Value.ToShortDateString())};

                    }
                </td>

            </tr>
        }


    </tbody>

</table>